<!DOCTYPE html>
<html>

<head> <h1>Nombres Equipo Docente:</h1>


		</head>

	<body> 
		<h3>Profesores:</h3> Ángel Jiménez, Iván Díaz.

			<h3>Auxiliares:</h3> José Canto, Jorge Pinto, Javiera Ovalle, Macarena Osorio.

				<h3>Ayudantes:</h3> Carlos Vega, Catalina Martin, Eduardo Valerio, Juan. Gutiérrez, Matías Rojas, Nicolás Villa, Sebastían Donoso, Sofía. Herrera, Victoria Arce. 

	<a href="file:///Users/cmontero/Documents/TICs/ev/auxiliar2/miapp/templates/miapp/index.html">Hola, soy un enlace al index del aux2</a>
	<br>
	<a href="file:///Users/cmontero/Documents/TICs/ev/auxiliar2/miapp/templates/miapp/pesta%C2%A7a.html">Hola, soy un enlace a otra pestaña del proyecto (aux2)</a>


</body>



</html>